$dark-blue: #273658;
$light-grey: #c5c5c5;

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white !important;
  color: $dark-blue !important;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: lightcoral;

  &:hover {
    text-decoration: underline;
  }
}

footer {
  margin-top: auto;
}

main {
  width: fit-content;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 3rem;
  border-radius: 20px;
  font-family: "Roboto";
  margin-bottom: 90px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(196, 196, 196, 0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(196, 196, 196, 0.75);
  box-shadow: 0px 0px 28px 0px rgba(196, 196, 196, 0.75);
}

.btn {
  background-color: lightcoral;
  padding: 0.75rem 1.5rem;
  border: unset;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  color: #273658;

  &:hover {
    opacity: 0.9;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 0.75rem;
    background-color: white;
    padding: 0rem 0.3rem;
    margin-left: 0.8rem;
    width: fit-content;
    z-index: 1;
  }

  input {
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 1rem;
    margin-top: -0.5rem;
  }
}

.input-error {
  border: 1px solid red !important;
}

.disabled-btn {
  background-color: lightcoral;
}

.error {
  max-width: 195px;
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1.25rem;
}

form {
  button {
    background-color: lightgreen;
    padding: 1rem 1.25rem;
    margin: 0 auto;
    width: fit-content;
    color: black;
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    border: unset;
    border-radius: 30px;

    &:hover {
      opacity: 0.9;
    }
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;

    button, input, a {
      margin: 0;
    }

    .cancel {
      background-color: $light-grey;
    }
  }
}
