<main *ngIf="isLoaded; else loading">

    <div *ngIf="coaches; else noCoaches" class="coaches">
        <h1>Choose between the <strong>best</strong> coaches in the world!</h1>

        <ul>
            <app-coach-list-item *ngFor="let coach of coaches" [coach]="coach">
                
            </app-coach-list-item>
        </ul>
    </div>

    <ng-template #noCoaches>
        <h2>No coaches are available at the moment.</h2>
    </ng-template>
</main>

<ng-template #loading>
    <h2 class="loader">Loading...</h2>
</ng-template>