.loader {
    text-align: center;
}

.coaches {
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
    }
}