<form [formGroup]="addReviewFormGroup" (ngSubmit)="addReview()">
    <h2>Post a review</h2>

    <p *ngIf="errorMessage" class="error error-msg">{{ errorMessage }}</p>

    <div class="form-input">
        <input type="text" id="review" placeholder="Share your opinion..." [class.input-error]="shouldShowErrorForControl('review')"
            formControlName="review">
    </div>

    <ng-container *ngIf="shouldShowErrorForControl('review')">
        <p *ngIf="addReviewFormGroup.controls['review'].errors?.['required']" class="error">
            Min. 25 characters
        </p>
    </ng-container>

    <button [class.disabled-btn]="addReviewFormGroup.invalid" [disabled]="addReviewFormGroup.invalid">Post</button>
</form>