<main>
    <h1>Is it time for a change in your life?</h1>
    <h2>Do you have a dream physique?</h2>
    <p>We can help you become the <strong>best</strong> version of yourself! Thousands of people have already improved
        their lifestyles through our working programs, nutrition suggestions and online certified coaches.</p>
    <p *ngIf="!isLogged; else browseBtn">What are you waiting for? <a routerLink="/login">Login</a> or <a
            routerLink="/register">create</a> a free account.</p>

    <ng-template #browseBtn>
        <div class="buttons">
            <button id="browse-btn" class="btn" routerLink="/workout-programs">Buy a program</button>
            <span>or</span>
            <button id="hire-btn" class="btn" routerLink="/coaches">Hire a coach</button>
        </div>
    </ng-template>
</main>