<main *ngIf="isLoaded; else loading">

    <a routerLink="/workout-programs/all">Go back</a>

    <div *ngIf="!!workoutProgram; else noProgram" class="programs">
        <h1>{{ workoutProgram.name }}</h1>

        <div class="program-info">
            <p>{{ workoutProgram.description }}</p>
            <h3>Satisfied customers' reviews:</h3>
            <p *ngFor="let review of workoutProgram.reviews">
                - "{{ review }}"
            </p>
            
            <h3 class="review-heading">Want to share an opinion? Leave your review below!</h3>
            <button *ngIf="isLoggedIn" class="btn review-btn" (click)="toggleReviewForm()">{{ shouldShowReviewForm ? "Hide Form" : "Expand Form" }}</button>

            <app-add-review *ngIf="shouldShowReviewForm" [program]="workoutProgram" (onReviewPost)="addReviewToList($event)"></app-add-review>
        </div>
    </div>

    <ng-template #noProgram>
        <h2>No such workout program!</h2>
    </ng-template>
</main>

<ng-template #loading>
    <h2 class="loader">Loading...</h2>
</ng-template>